<!DOCTYPE html>
<html lang="fr">
{%- include head.liquid -%}

<body>
{%- include header.liquid -%}

<main class="page-content" aria-label="Content">
    <div class="wrapper{% if page.full_size %} full{% endif %}">
        {{ content }}
    </div>
</main>

{%- include footer.liquid -%}
</body>
</html>
