// Évaluations
// ===========
.deliverable_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: unset;
  row-gap: 1.25em;

  .deliverable {
    &-item {
      margin: unset;

      &.urgent {
        .date {
          color: $color-danger;
        }
        .deliverable-name {
          &::before {
            color: $color-danger;
            content: "‼️";
            margin-right: 0.5em;
          }
        }
      }
      &.expired {
        .date {
          text-decoration: line-through;
        }
        .deliverable {
          &-name {
            text-decoration: line-through;
          }
          &-composite {
            display: none;
          }
        }
      }
      &-body {
        border-color: var(--deliverable-border-color);
        border-style: solid;
        border-radius: 0 1.25em 1.25em 0;
        border-width: 1px;
        border-left-width: 0;
        display: flex;
        flex-direction: column;
        padding: 0.25em 0.5em;
        row-gap: 0.5em;
        width: 100%;
      }
      > a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $link-base-color;
          --deliverable-border-color: #{$link-base-color};

          .outer-pill {
            background-color: #{$link-base-color};
          }
          .date {
            color: $link-base-color;
            text-decoration: unset;
          }
          .deliverable-name {
            text-decoration: unset;
          }
        }
      }
      > a, div {
        display: flex;
        --deliverable-border-color: #{$border-color-01};

        .outer-pill {
          background-color: var(--deliverable-pill-color);
          border-color: var(--deliverable-border-color);
          border-style: solid;
          border-radius: 1.25em 0 0 1.25em;
          border-width: 1px;
          border-right-width: 0;
          width: 2em;

          &.future {
            --deliverable-pill-color: #{$color-primary};
          }
          &.soon {
            --deliverable-pill-color: #{$color-warning};
          }
          &.now {
            --deliverable-pill-color: #{$color-danger};
          }
          &.past {
            --deliverable-pill-color: #6c757d;
          }
        }
        .badge {
          align-items: center;
          border-color: var(--deliverable-border-color);
          border-style: solid;
          border-width: 1px;
          border-left-width: 0;
          display: flex;
          flex-direction: column;
          padding: 0.25em 0.5em;
          row-gap: 0.25em;
          text-align: center;
          width: 5em;

          .icon {
            font-size: 1.5em;
          }
          .date {
            font-weight: bold;
          }
        }
      }
    }
    &-composite {
      column-gap: 0.5em;
      display: flex;
    }
  }

  @media (min-width: $on-large) {
    .deliverable {
      &-item {
        > a, div {
          margin: auto;
          width: 80%;

          .badge {
            width: 10em;

            .icon {
              font-size: 2em;
            }
            .date {
              font-size: 1.25em;
            }
          }
        }
      }
      &-name {
        font-size: 1.5em;
      }
    }
  }
}
// Grille de notation
// ==================
.defense-grid {
  > article {
    --defense-grid-color-primary: #{$color-primary};
    --defense-grid-color-secondary: #{$color-secondary};

    background-color: rgba($brand-color, .1);
    border-top: 0.75em solid var(--defense-grid-color-primary);
    border-radius: 0 0 1em 1em;
    padding: 0.25em $spacing-unit * 0.5;

    &.malus {
      --defense-grid-color-primary: #{$color-danger};
      --defense-grid-color-secondary: #B00020;
    }
    & + article {
      margin-top: $spacing-unit;
    }

    > header {
      margin-bottom: 0.75em;

      h3 {
        border-bottom: 2px solid var(--defense-grid-color-primary);
        margin: 0 auto;
        padding-bottom: 0.25em;
        text-align: center;
      }
      .coefficient {
        background-color: var(--defense-grid-color-primary);
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        color: #000;
        font-weight: bold;
        padding: 0 1.25em 0.5em;
        margin: auto;
        width: max-content;
      }
    }
    .defense-content {
      > .panel {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .defense-details {
      margin-bottom: $spacing-unit * 0.5;

      .grid-detail {
        %grid-detail-content-prefix {
          border-right: 1px solid var(--defense-grid-color-secondary);
          color: var(--defense-grid-color-secondary);
          flex-shrink: 0;
          font-size: larger;
          font-weight: bold;
          padding-top: 0.25em;
          text-align: center;
          width: 3em;
        }

        border: 1px solid var(--defense-grid-color-secondary);
        border-radius: 0 0 1em 1em;

        &.malus {
          --defense-grid-color-primary: #{$color-danger};
          --defense-grid-color-secondary: #B00020;
        }
        & + .grid-detail {
          margin-top: $spacing-unit * 0.75;
        }

        h4 {
          border-bottom: 1px solid var(--defense-grid-color-secondary);
          margin: 0 auto;
          padding: 0.15em 0;
          text-align: center;
        }
        .detail-content {
          column-gap: 0.5em;
          display: flex;

          .prefix {
            @extend %grid-detail-content-prefix;

            &.badge {
              user-select: none;
            }
          }
          .description {
            padding: 0.25em $spacing-unit * 0.25 0;
          }
        }
        .listing {
          border-top: 1px solid var(--defense-grid-color-secondary);
          list-style: none;
          margin-left: 0;
          padding: 0.75em $spacing-unit * 0.5 0;

          &:not(ul) {
            padding-top: 0.25em;

            .heading {
              column-gap: 0.5em;
              display: flex;
              margin-bottom: 0.75em;

              &.warning {
                &:before {
                  content: "⚠️";
                  user-select: none;
                }
              }

              .heading-content {
                flex-grow: 1;
                font-style: italic;
                text-align: center;
              }
            }
            .listing-detail {
              &:first-child {
                margin-top: 0.75em;
              }

              border: 1px solid var(--defense-grid-color-secondary);
              column-gap: 0.5em;
              display: flex;
              margin: 0.25em auto 0.75em;

              .prefix {
                @extend %grid-detail-content-prefix;
                padding-top: 0.15em;
              }
              .description {
                padding-top: 0.15em;
              }
            }
          }

          > li {
            column-gap: 0.5em;
            display: flex;

            &:before {
              content: '-';
            }
            & + li {
              margin-top: 0.5em;
            }
          }
        }
      }
    }
  }

  @media (min-width: $on-medium) {
    > article {
      padding: 0.5em $spacing-unit;

      .defense-details {
        padding: 0 $spacing-unit * 0.5;

        .listing {
          padding: 0.75em $spacing-unit * 0.5 0;
        }
        .detail-content {
          .prefix {
            padding: 0.25em 1em 0;
          }
          .description {
            padding: 0.25em $spacing-unit * 0.75 0;
          }
        }
      }
    }
  }
  @media (min-width: $on-large) {
    > article {
      > header {
        h3 {
          width: 75%;
        }
      }
      .defense-details {
        .grid-detail {
          .listing {
            &:not(ul) {
              .heading {
                justify-content: center;

                .heading-content {
                  flex-grow: unset;
                }
              }
              .listing-detail {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}
// Home
// ====
.home-projects {
  > main {
    > article {
      > footer {
        border-top: 4px solid $border-color-01;
        padding: 0.25em 0;

        > a {
          display: block;
          font-size: 1.125em;
          font-weight: 700;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}
.home-deliverables {
  margin-top: $spacing-unit * .5;
}
// Jury
// ====
.introduce {
  background-color: rgba($brand-color, 0.25);
  border: 2px solid $border-color-01;
  margin: 0.25em;
  padding: 0.25em $spacing-unit * 0.5;

  > p {
    &:first-letter {
      color: $color-primary;
      font-size: larger;
      font-weight: bold;
    }
    &:last-of-type {
      text-align: right;
    }
  }

  @media screen and (min-width: $on-medium) {
    margin: 0.5em 0;
    padding: 0.5em $spacing-unit;
  }
}
// Planning
// ========
table {
  &.planning {
    caption {
      font-size: 1.25em;
      font-weight: bold;
      letter-spacing: 0.15em;
      padding: 0.5em 0;
    }
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      th {
        width: 40px;
      }

      td {
        vertical-align: top;
        width: ($content-width - 40px) / 5;

        .day {
          font-size: 1.2em;
          text-align: center;

          &-roadmap {
            background-color: var(--roadmap-color);
            border: 1px solid $border-color-01;
            border-radius: 0.75em;
            color: $background-color;
            font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;

            &:hover {
              background-color: $background-color;
              border-color: var(--roadmap-color);
              color: var(--roadmap-color);
            }

            &.session {
              --roadmap-color: #{$color-primary};
            }
            &.final {
              --roadmap-color: #{$color-secondary};
            }
          }
        }
        a {
          &.component {
            text-decoration: none;
          }
        }
        .component {
          column-gap: 0.5em;
          display: flex;
          margin-top: 0.5em;
        }
      }
    }
  }
}
// Planning soutenance
// ===================
.final-planning {
  > .jury {
    display: block;

    > article {
      padding-bottom: $spacing-unit * .75;
      padding-top: $spacing-unit * .25;

      & + article {
        border-top: 4px solid $border-color-01;
      }

      > header {
        font-size: 1.75em;
        font-weight: 700;
        text-align: center;
      }
      > main {
        .jury-detail {
          align-items: center;
          display: flex;
          flex-direction: column;
          row-gap: .35em;
        }
      }
    }
  }
  > .planning {
    margin-top: $spacing-unit;

    > article {
      border: 4px solid $border-color-01;
      border-radius: 0.75em;

      & + article {
        margin-top: $spacing-unit;
      }

      > header {
        padding: .15em .25em .35em;

        .name {
          align-items: center;
          column-gap: 0.25em;
          display: flex;
          justify-content: center;
          margin: 0;
        }
      }
      > main {
        &.with-steps {
          border-top: 4px solid $border-color-01;
          margin-top: .25em;
          padding-top: .25em;

          .groups {
            display: block;

            & + .after-group-step {
              border-top: 2px solid $border-color-01;
            }

            .group {
              // Colors
              --background-color-fade: 0.2;
              &.group-les-apprenants-lents {
                background-color: rgba(#b45f06, var(--background-color-fade));
              }
              &.group-save {
                background-color: rgba(#38761d, var(--background-color-fade));
              }
              &.group-codefusion {
                background-color: rgba(#1155cc, var(--background-color-fade));
              }
              &.group-les-4-fantastiques {
                background-color: rgba(#f1c232, var(--background-color-fade));
              }
              &.group-lénine {
                background-color: rgba(#a64d79, var(--background-color-fade));
              }
              &.group-1001-librairies {
                background-color: rgba(#a61c00, var(--background-color-fade));
              }
              &.group-virgilcorp {
                background-color: rgba(#a2c4c9, var(--background-color-fade));
              }
              &.group-amawa {
                background-color: rgba(#351c75, var(--background-color-fade));
              }
              &:hover {
                --background-color-fade: 0.5;
              }

              & + .group {
                border-top: 1em solid $border-color-01;
              }

              > .heading {
                .name {
                  font-size: 1.25em;
                  font-weight: 700;
                  text-align: center;
                }
                .room {
                  margin: .25em auto .5em;
                }
                .jury {
                  margin-bottom: .5em;

                  .jury-detail {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    row-gap: .35em;
                  }
                }
              }
              > .content {
                border-top: 1px dashed $border-color-01;

                .step {
                  & + .step {
                    border-top: 1px solid $border-color-01;
                  }
                  > .heading {
                    padding: .15em .25em .35em;

                    .name {
                      font-size: 1.25em;
                      font-weight: 700;
                      text-align: center;
                    }
                  }
                }
                .student-steps {
                  border-top: 2px solid $border-color-01;

                  > .heading {
                    .student-name {
                      align-items: center;
                      border-bottom: 1px dashed $border-color-01;
                      display: flex;
                      flex-direction: column;
                      padding: 0.5em 0;
                      row-gap: 0.25em;
                      .name {
                        font-size: 1.1em;
                        font-weight: 700;
                        text-align: center;
                      }
                    }
                  }
                  > .step {
                    & + .heading {
                      border-top: 1px solid $border-color-01;
                    }
                    & + .step {
                      border-top: unset;

                      .student-step {
                        border-top: 1px solid $border-color-01;
                      }
                    }
                    .student-step {
                      > .heading {
                        padding: .25em;

                        .name {
                          font-weight: 700;
                          text-align: center;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .after-group-step {
            > .heading {
              padding: 0.25em 0.25em 0.5em;

              .name {
                align-items: center;
                column-gap: 0.25em;
                display: flex;
                justify-content: center;

                h3 {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
    header,
    .heading {
      .time-slot {
        display: flex;
        justify-content: space-between;

        .duration {
          > span {
            &:before {
              content: "[";
            }
            &:after {
              content: "]";
            }
          }
        }
      }
    }
  }

  %badge {
    border-radius: 1em;
    font-size: smaller;
    padding: 0.15em 0.5em;
    width: fit-content;
  }
  .room {
    @extend %badge;
    border: 1px solid $border-color-02;
    font-size: initial;
  }
  .badge {
    @extend %badge;

    &.dev {
      @include text-black;
      background-color: $color-dev;
    }

    &.cyber {
      @include text-black;
      background-color: $color-infra;
    }
  }

  @for $coef from 2 through 30 {
    .duration-coef-#{$coef} {
      min-height: 1.5em * $coef;
    }
  }

  @media (min-width: $on-large) {
    > .jury {
      display: grid;

      > article {
        & + article {
          border-left: 4px solid $border-color-01;
          border-top: unset;
        }
      }
    }
    > .planning {
      > article {
        > main {
          &.with-steps {
            .groups {
              display: grid;

              .group {
                border-bottom: 1px solid $border-color-01;

                & + .group,
                & + .empty-group {
                  border-left: 4px solid $border-color-01;
                  border-top: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Collections
// ===========
// Intermediary deliverables
// -------------------------
.deliverable {
  .post-header {
    border-bottom: 2px solid $border-color-01;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;

    .post-title {
      align-items: center;
      display: flex;
      flex-direction: column;

      @media (min-width: $on-large) {
        align-items: baseline;
        column-gap: 0.5em;
        flex-direction: row;

        .deliverable-type {
          border: 1px solid $brand-color;
          border-radius: 0.5em;
          padding: 0.25em 0.5em;
        }
      }
    }
  }
  .post-sub-header {
    display: flex;
    justify-content: space-between;

    .date {
      background-color: $border-color-01;
      border: 1px solid $border-color-02;
      border-radius: 0.5em;
      padding: 0.25em 0.5em;
      &.expired, {
        background-color: $background-color;
        border-color: $border-color-01;
        font-style: italic;
      }
      &.urgent {
        background-color: $background-color;
        border-color: $border-color-01;
        font-weight: bold;
        &::before {
          color: $color-danger;
          content: "‼️";
          margin-right: 0.25em;
        }
      }
    }
    .module {
      border: 1px solid $border-color-01;
      border-radius: 0.5em;
      padding: 0.25em 0.5em;
      text-align: center;
      &:last-child {
        text-align: right;
      }
    }
    .last-update {
      font-size: 0.8em;
      font-style: italic;
      text-align: right;
    }
  }
}
// Roadmap
// -------
.roadmap {
  counter-reset: schedule;
  .post-header {
    border-bottom: 2px solid $border-color-01;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;

    .post-title {
      align-items: center;
      display: flex;
      flex-direction: column;

      @media (min-width: $on-large) {
        align-items: baseline;
        column-gap: 0.5em;
        flex-direction: row;

        .session-date {
          border: 1px solid $brand-color;
          border-radius: 0.5em;
          padding: 0.25em 0.5em;
        }
      }
    }
  }
  .post-sub-header {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
  }

  .summary {
    counter-reset: summary;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: unset;
    row-gap: 0.5em;

    > li {
      > a {
        border: 1px solid $border-color-01;
        border-radius: 0.25em;
        color: $brand-color;
        counter-increment: summary;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;

        &:hover {
          border-color: $link-base-color;
          color: $link-base-color;
        }
        &::before {
          content: counter(summary)".";
          margin-right: 0.5em;
        }
      }

      @media (min-width: $on-medium) {
        width: 75%;
      }
      @media (min-width: $on-large) {
        width: 50%;
      }
    }

    @media (min-width: $on-medium) {
      align-items: center;
    }
  }

  h2 {
    &:not(:first-child) {
      counter-increment: schedule;

      &::before {
        content: counter(schedule)".";
        margin-right: 0.5em;
      }
    }
  }

  footer {
    nav {
      display: flex;
      justify-content: space-between;

      > div {
        > a {
          border: 2px solid $border-color-01;
          border-radius: 1em;
          color: inherit;
          display: block;
          padding: 0.5rem 1rem;

          &:hover {
            border-color: $link-base-color;
            color: $link-base-color;
            text-decoration: none;
          }
        }
      }

      @media screen and (min-width: $on-large) {
        margin: 0 2rem;
      }
    }
  }
}

// Transverse
// ==========
// Livrables
// ---------
.document-model {
  border: 3px solid $border-color-01;
  border-radius: 2em;
  counter-reset: document-model;
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 1em;
  row-gap: 1.5em;

  h3, h4, h5 {
    border-bottom: 1px solid $border-color-01;
    color: $brand-color;
    margin-top: 0;
    padding-bottom: 0.25em;
  }
  h3 {
    border-bottom-width: 2px;
    counter-increment: document-model;
    margin-bottom: 0;
    padding-bottom: 0.5em;

    &::before {
      content: counter(document-model, upper-alpha)")";
      margin-right: 0.5em;
    }
  }
  h4 {
    counter-increment: document-model-section;
    padding-left: 0.5em;

    &::before {
      content: counter(document-model-section)".";
      margin-right: 0.5em;
    }
  }
  h5 {
    counter-increment: document-model-subsection;
    padding-left: 1em;

    &::before {
      content: counter(document-model-section)"."counter(document-model-subsection)".";
      margin-right: 0.5em;
    }
  }
  .element-content {
    counter-reset: document-model-section;
    padding: 0.75em 0;

    p {
      margin-right: 1em;
    }
    > .section-content {
      counter-reset: document-model-subsection;

      > .section-content {
      }
    }
    .related-pages {
      margin-bottom: 0.5em;
      margin-right: 1em;
    }
    .panel {
      margin-left: 0;
    }

    @media screen and (min-width: $on-large) {
      border-color: $border-color-01;
      border-style: solid;
      border-width: 0 0 2px 2px;

      p {
        margin-left: 1em;
        margin-right: 0;
      }
      .related-pages {
        margin-right: 0;
      }
      .panel {
        margin-left: 1em;
      }
    }
  }
}
// Notes de réunion
.meeting-notes {
  border: 3px solid $border-color-01;
  border-radius: 3em;
  margin: 1em 0;

  header {
    text-align: center;

    h1 {
      border-bottom: 3px solid $border-color-01;
      color: $brand-color;
      margin-bottom: 0.25em;
      padding: 0.25em 0 0.25em;
    }
    .subtitle {
      column-gap: 2rem;
      display: flex;
      justify-content: center;
    }
  }
  h1, h2 {
    margin: 0;
  }
  .participants {
    border-color: $border-color-01;
    border-style: solid;
    border-width: 2px 0 0 0;
    margin: 1em 0;
    padding: 0 1em;

    > ul {
      list-style: none;
      margin-left: 0;
      > li {
        align-items: center;
        column-gap: 1em;
        display: flex;
      }
    }
    .attendance {
      border-radius: 9999px;
      height: 0.75em;
      width: 0.75em;

      &.present {
        background-color: #090;
      }
      &.off {
        background-color: #900;
      }
    }
  }
  .subject {
    align-items: baseline;
    column-gap: 1em;
    display: flex;
    margin: 1em 0.5em;
  }
  .notes, .documents {
    border-top: 2px solid $border-color-01;
    padding: 0.25em 1em 1em;
  }

  @media screen and (min-width: $on-medium) {
    margin: 1em 1.5rem;
  }
  @media screen and (min-width: $on-large) {
    margin: 1em 3rem;

    .participants {
      border-left-width: 2px;
      margin-left: 2em;

      > ul {
        margin-left: $spacing-unit;
      }
    }
  }
}
