// Planning
// ========
table {
  &.planning {
    caption {
      font-size: 1.25em;
      font-weight: bold;
      letter-spacing: 0.15em;
      padding: 0.5em 0;
    }
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      th {
        width: 40px;
      }

      td {
        vertical-align: top;
        width: ($content-width - 40px) / 5;

        .day {
          font-size: 1.2em;
          text-align: center;

          &-roadmap {
            background-color: var(--roadmap-color);
            border: 1px solid $border-color-01;
            border-radius: 0.75em;
            color: $background-color;
            font-weight: bold;
            padding: 0.25em 0.5em;
            text-decoration: none;

            &:hover {
              background-color: $background-color;
              border-color: var(--roadmap-color);
              color: var(--roadmap-color);
            }

            &.session {
              --roadmap-color: #{$color-primary};
            }
            &.final {
              --roadmap-color: #{$color-secondary};
            }
          }
        }
        .component {
          column-gap: 0.5em;
          display: flex;
          margin-top: 0.5em;
        }
      }
    }
  }
}

// Collections
// ===========
// Roadmap
// -------
.roadmap {
  counter-reset: schedule;
  .post-header {
    border-bottom: 2px solid $border-color-01;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;

    .post-title {
      align-items: center;
      display: flex;
      flex-direction: column;

      @media (min-width: $on-large) {
        align-items: baseline;
        column-gap: 0.5em;
        flex-direction: row;

        .session-date {
          border: 1px solid $brand-color;
          border-radius: 0.5em;
          padding: 0.25em 0.5em;
        }
      }
    }
  }
  .post-sub-header {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
  }

  .summary {
    counter-reset: summary;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: unset;
    row-gap: 0.5em;

    > li {
      > a {
        border: 1px solid $border-color-01;
        border-radius: 0.25em;
        color: $brand-color;
        counter-increment: summary;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;

        &:hover {
          border-color: $link-base-color;
          color: $link-base-color;
        }
        &::before {
          content: counter(summary)".";
          margin-right: 0.5em;
        }
      }

      @media (min-width: $on-medium) {
        width: 75%;
      }
      @media (min-width: $on-large) {
        width: 50%;
      }
    }

    @media (min-width: $on-medium) {
      align-items: center;
    }
  }

  h2 {
    &:not(:first-child) {
      counter-increment: schedule;

      &::before {
        content: counter(schedule)".";
        margin-right: 0.5em;
      }
    }
  }
}
