// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// ----- LIST
ul li + li,
ol li + li {
  margin-top: 0.25em;
}

// ----- Elements
// ---------- FIELDS
.required::after {
    content: "*";
    color: $color-danger;
}

// ---------- FOOTER
.footer-col {
  text-align: center;
}

// ---------- LINKED-NAV
.linked-nav {
  column-gap: 1em;
  display: flex;
  justify-content: center;
}

// ----- Others
// ---------- COLORS
.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}
.text-danger {
  color: $color-danger;
}

@import "custom-pages";
