// Placeholder to allow overriding predefined variables smoothly.
$content-width: 1200px;

$color-primary: #60A9FF;
$color-secondary: #D187FF;

$color-danger: #D00;

$color-dev: #7A86B8;
$color-infra: #B8AC7A;
