<ol class="listing">
    {% for listing_element in include.listing_elements %}
        <li>
            <div class="listing-order">{{ forloop.index }}</div>
            <div class="listing-main">
                {% include _templates/list/element/_listing_element.liquid element=listing_element %}
            </div>
        </li>
    {% endfor %}
</ol>
